.margin-bottom-small {
  margin-bottom: calc(1rem + 1vw); }

.margin-bottom-medium {
  margin-bottom: calc(2rem + 2vw); }

.margin-bottom-big {
  margin-bottom: calc(3rem + 3vw); }

@keyframes hamburgerAnim {
  0% {
    transform: translateX(150rem) rotate(1080deg); }
  100% {
    transform: translate(0) rotate(0); } }

@keyframes gradientAnim {
  0% {
    background-position: 0% 51%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 51%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Karla', sans-serif;
  background-color: #fffffe; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content); }

.heading-1 {
  font-size: calc(3rem + 3vw);
  font-weight: 300;
  text-transform: uppercase;
  color: #fffffe; }

.heading-2 {
  font-size: calc(2rem + 2vw);
  font-weight: 300;
  color: #000; }
  .heading-2--underline {
    position: relative; }
    @media only screen and (max-width: 50em) {
      .heading-2--underline {
        text-align: center; } }
    .heading-2--underline::after {
      content: '';
      position: absolute;
      width: 35%;
      height: .4rem;
      background-color: #2aa683;
      bottom: -1rem;
      left: 0; }
      @media only screen and (max-width: 50em) {
        .heading-2--underline::after {
          left: 30%; } }
  .heading-2--white {
    color: #fffffe;
    background-color: rgba(42, 166, 131, 0.7);
    transform: rotateZ(5deg);
    text-align: center; }
  .heading-2--tertiary {
    color: #2aa683;
    font-weight: 600; }

.heading-5 {
  font-size: calc(1.2rem + 1.2vw);
  font-weight: 500;
  color: #000; }

.paragraph {
  color: #5f6c7b;
  font-size: calc(1.3rem + 1vw);
  font-weight: 300; }
  .paragraph--big {
    font-size: calc(1rem + 1.5vw);
    font-weight: 500; }
  .paragraph--line-height-big {
    line-height: 2;
    text-align: justify; }
  .paragraph--white {
    color: #fffffe; }

.link-button:link, .link-button:visited {
  display: inline-block;
  font-size: calc(1rem + 1vw);
  background-color: #fffffe;
  text-decoration: none;
  color: #2aa683;
  font-weight: 600;
  padding: 1.4rem 2rem;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: 2; }
  .link-button:link::before, .link-button:visited::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0%;
    background-color: #2aa683;
    transition: height 0.3s ease-in-out;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1; }
  .link-button:link:hover::before, .link-button:visited:hover::before {
    height: 500%;
    transform: translate(-50%, -50%) rotate(45deg); }

.link-button:hover, .link-button:active {
  color: #fffffe; }

.booking-content {
  grid-column: center-start / col-end 6;
  padding: 8vh 3vw;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 2vh; }
  @media only screen and (max-width: 50em) {
    .booking-content {
      grid-column: center-start / center-end;
      padding: 4vh 3vw; } }
  .booking-content__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem; }
    @media only screen and (max-width: 50em) {
      .booking-content__icons {
        padding: 0 3rem; } }
  .booking-content__weather, .booking-content__time {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 10vh;
    justify-items: start;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .booking-content__weather, .booking-content__time {
        grid-template-columns: .3fr 1fr; } }
  .booking-content__icon {
    height: calc(2rem + 2vw);
    width: calc(2rem + 2vw);
    fill: #2aa683; }
  .booking-content__detail {
    font-size: calc(1.6rem + 1vw);
    font-weight: 400;
    color: #5f6c7b; }

.booking-date {
  grid-column: col-start 7 / center-end;
  padding: 8vh 3vw;
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .booking-date {
      padding: 0 3vw;
      grid-column: center-start / center-end; } }
  .booking-date * > p:not(.paragraph) {
    font-size: calc(1rem + 1vw);
    font-weight: 300; }
  .booking-date__schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    place-items: center; }
  .booking-date__schedule--arrival, .booking-date__schedule--departure, .booking-date__schedule--guests {
    display: grid;
    grid-row-gap: calc(2vh + 2vw); }
  .booking-date__schedule--arrival > h5,
  .booking-date__schedule--departure > h5,
  .booking-date__schedule--guests > h5 {
    text-align: center; }
  .booking-date__schedule--arrival > div > p:nth-child(2),
  .booking-date__schedule--departure > div > p:nth-child(2),
  .booking-date__schedule--guests > div > p:nth-child(2) {
    font-size: 3rem;
    font-weight: 700; }
  .booking-date__schedule--arrival > div,
  .booking-date__schedule--departure > div,
  .booking-date__schedule--guests > div {
    background: linear-gradient(270deg, #118499, #2aa683);
    background-size: 400% 400%;
    animation: gradientAnim 3s ease infinite;
    color: #fffffe;
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    position: relative;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 50em) {
      .booking-date__schedule--arrival > div,
      .booking-date__schedule--departure > div,
      .booking-date__schedule--guests > div {
        padding: 3rem 5.2rem; } }
    @media only screen and (max-width: 30em) {
      .booking-date__schedule--arrival > div,
      .booking-date__schedule--departure > div,
      .booking-date__schedule--guests > div {
        padding: 1.5rem 3.6rem; } }
    @media only screen and (max-width: 25em) {
      .booking-date__schedule--arrival > div,
      .booking-date__schedule--departure > div,
      .booking-date__schedule--guests > div {
        padding: 1.5rem 2.6rem; } }
    .booking-date__schedule--arrival > div::after,
    .booking-date__schedule--departure > div::after,
    .booking-date__schedule--guests > div::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 2rem;
      background: linear-gradient(270deg, #118499, #2aa683);
      background-size: 400% 400%;
      animation: gradientAnim 3s ease infinite;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      top: 0;
      transform: translateY(-99%); }
  .booking-date__contact {
    align-self: end; }
    @media only screen and (max-width: 50em) {
      .booking-date__contact {
        align-self: center;
        padding: 0 2vw; } }
    .booking-date__contact p:first-of-type {
      margin-top: 4rem; }
      @media only screen and (max-width: 50em) {
        .booking-date__contact p:first-of-type {
          margin-top: 2rem; } }
    .booking-date__contact p:not(:first-of-type) {
      margin-top: .8rem; }
  .booking-date__link:link, .booking-date__link:visited {
    text-decoration: none;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
    border-radius: 3px;
    color: #fffffe;
    background: linear-gradient(270deg, #118499, #2aa683);
    background-size: 400% 400%;
    animation: gradientAnim 3s ease infinite; }

.events-content {
  grid-column: container-start / col-end 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .events-content {
      grid-column: container-start / container-end;
      grid-template-columns: 1fr;
      grid-row-gap: 1rem; } }
  .events-content > div {
    padding: 8vh 3vw;
    display: grid;
    grid-template-areas: 'title'  'paragraph';
    grid-row-gap: 4vh;
    align-items: center;
    justify-items: start;
    background-position: center;
    background-size: cover;
    grid-row-gap: calc(10vw); }
  .events-content h2 {
    background-color: rgba(252, 24, 51, 0.7);
    grid-area: title; }
  .events-content p {
    grid-area: paragraph;
    color: #fffffe;
    font-weight: 500; }
  .events-content__event-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/chritmas6.jpeg); }
  .events-content__event-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/chritmas2.jpeg); }

.events-text {
  background-color: #fc1833;
  grid-column: col-start 10 / center-end;
  display: grid;
  place-items: center; }
  @media only screen and (max-width: 37.5em) {
    .events-text {
      display: none; } }
  .events-text__p {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 6rem;
    color: #fffffe;
    letter-spacing: 1px; }

.features-content {
  background-color: #118499;
  height: 40rem;
  grid-column: container-start / col-end 9; }

.features-text {
  background-color: #fc1833;
  grid-column: col-start 10 / center-end; }

.gallery-text {
  background-color: #2aa683;
  grid-column: center-start / col-end 1;
  height: 400px; }

.gallery-carousel {
  background-color: #000;
  grid-column: col-start 2 / container-end; }

.motto {
  grid-column: container-start / container-end;
  background-color: #fffffe;
  padding: 8vw 3vw; }
  .motto__content {
    text-align: center;
    width: 80%;
    margin: 0 auto; }
  .motto h2 {
    margin-bottom: 3rem; }
  .motto p {
    text-align: justify; }

.testimonials {
  background-color: #fc1833;
  grid-column: center-start / center-end;
  height: 40rem; }

.holidays {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;
  padding: 2rem; }
  @media only screen and (max-width: 30em) {
    .holidays {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
  .holidays__holiday {
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: calc(5vw + 5rem);
    justify-items: center;
    align-content: space-between;
    border-radius: 5px; }
  .holidays__holiday:hover {
    transform: scale(1.01); }
  .holidays__holiday-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas1.jpeg); }
  .holidays__holiday-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas2.jpeg); }
  .holidays__holiday-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas3.jpeg); }
  .holidays__holiday-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas4.jpeg); }
  .holidays__holiday-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas5.jpeg); }
  .holidays__holiday-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/chritmas6.jpeg); }

.footer {
  background-color: #2aa683;
  grid-column: container-start / container-end;
  height: 40rem; }

.header__checkbox, .header__hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem; }

.header {
  background-color: #000;
  grid-column: container-start / container-end;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headerbg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem; }
  .header__checkbox {
    opacity: 0;
    cursor: pointer;
    z-index: 3; }
  .header__checkbox:checked + .header__hamburger > div::after {
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(-90deg); }
  .header__checkbox:checked + .header__hamburger > div {
    transform: rotate(45deg); }
  .header__checkbox:checked + .header__hamburger > div::before {
    opacity: 0; }
  .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6; }
  .header__hamburger {
    padding: 1rem;
    background-color: #fc1833;
    z-index: 2;
    display: grid;
    place-items: center;
    animation: hamburgerAnim 3s; }
  .header__checkbox:checked ~ .header__menu {
    visibility: visible;
    transform: scaleX(1); }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s;
    display: grid;
    place-items: center; }
  .header__hamburger > div {
    position: relative;
    height: .3rem;
    width: 100%;
    background-color: #fffffe;
    transition: all 0.3s; }
    .header__hamburger > div::before, .header__hamburger > div::after {
      content: '';
      position: absolute;
      top: -1rem;
      width: 75%;
      height: inherit;
      background-color: inherit;
      z-index: 2; }
    .header__hamburger > div::before {
      left: 0; }
    .header__hamburger > div::after {
      top: 1rem;
      right: 0; }
  .header__item {
    list-style: none;
    margin-bottom: 4rem;
    padding: 1.8rem 5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative; }
    .header__item::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: #fc1833;
      position: absolute;
      transform: scaleY(0);
      transition: all 0.3s ease-out; }
    .header__item:hover::after {
      transform: scaleY(1); }
  .header__link:link, .header__link:visited {
    color: #fffffe;
    text-decoration: none;
    font-size: calc(0.9rem + 1vw);
    font-weight: 800;
    border-radius: 0.3rem;
    position: relative;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
    z-index: 1; }
  .header__main {
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 1fr) 1fr;
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center; }
  .header__logo:link, .header__logo:visited {
    grid-column: 2 / 3;
    letter-spacing: .2rem;
    text-decoration: none; }
    .header__logo:link span, .header__logo:visited span {
      font-size: 3rem;
      text-decoration: none;
      color: #fffffe;
      background-color: #fc1833;
      display: inline-block; }
    .header__logo:link span:first-child, .header__logo:visited span:first-child {
      transition: all .3s; }
    .header__logo:link span:nth-child(2), .header__logo:visited span:nth-child(2) {
      transition: all .4s; }
    .header__logo:link span:nth-child(3), .header__logo:visited span:nth-child(3) {
      transition: all .5s; }
    .header__logo:link span:nth-child(4), .header__logo:visited span:nth-child(4) {
      transition: all .6s; }
  .header__logo:hover > span:first-child {
    transform: translate(-50%, -50%) rotate(140deg); }
  .header__logo:hover > span:nth-child(2) {
    transform: translate(100%, 50%) rotate(350deg); }
  .header__logo:hover > span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(300deg); }
  .header__logo:hover > span:nth-child(4) {
    transform: translate(150%, 100%) rotate(150deg); }
  .header__content {
    grid-column: 1 / span 3;
    align-self: center;
    text-align: center; }
  .header__button:link, .header__button:visited {
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid #fffffe;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #fffffe;
    border-radius: 3px;
    transition: all .5s; }
    .header__button:link:hover, .header__button:visited:hover {
      background-color: #000;
      border: 1px solid #fc1833;
      color: #fc1833; }
