$color-stroke: #000;
$color-main: #fffffe;
$color-highlight: #118499;
$color-secondary: #2aa683;
$color-tertiary: #fc1833;

$color-background: $color-main;
$color-headline: $color-stroke;
$color-paragraph: #5f6c7b;
$color-button: $color-highlight;
$color-button-text: $color-main;