$color-stroke: #000;
$color-main: #fffffe;
$color-highlight: #ff8906;
$color-secondary: #f25f4c;
$color-tertiary: #e53170;

$color-background: $color-main;
$color-headline: $color-stroke;
$color-paragraph: #5f6c7b;
$color-button: $color-highlight;
$color-button-text: $color-main;