$color-stroke: #272343;
$color-main: #fffffe;
$color-highlight: #ffd803;
$color-secondary: #e3f6f5;
$color-tertiary: #bae8e8;

$color-background: $color-main;
$color-headline: $color-stroke;
$color-paragraph: #5f6c7b;
$color-button: $color-highlight;
$color-button-text: $color-main;