// ************** Titles *************** 
$font-size-title: calc(2rem + 2vw);


// Transition duration
$transition-duration: 0.3s;


// Section padding
$padding-section: 8vh 3vw;


.margin-bottom-small {
    margin-bottom: calc(1rem + 1vw);
}
.margin-bottom-medium {
    margin-bottom: calc(2rem + 2vw);
}
.margin-bottom-big{
    margin-bottom: calc(3rem + 3vw);
}