// *********** media Queries ****************
$media-query-medium: 50em; // 800px
$media-query-medium-small-big: 37.5em; // 600px
$media-query-medium-small: 30em; // 480px
$media-query-small: 25em; // 400px


// ************** Titles *************** 
$font-size-title: calc(2rem + 2vw);


// Transition duration
$transition-duration: 0.3s;


// Section padding
$padding-section: 8vh 3vw;


.margin-bottom-small {
    margin-bottom: calc(1rem + 1vw);
}
.margin-bottom-medium {
    margin-bottom: calc(2rem + 2vw);
}
.margin-bottom-big{
    margin-bottom: calc(3rem + 3vw);
}