

.heading-1 {
    font-size: calc(3rem + 3vw);
    font-weight: 300;
    text-transform: uppercase;
    color: $color-main;
}
.heading-2 {
    font-size: calc(2rem + 2vw);
    font-weight: 300;
    color: $color-stroke;
    &--underline{
        position: relative;
        @media only screen and(max-width: $media-query-medium){
            text-align: center;
        }
        &::after{
            content: '';
            position: absolute;
            width: 35%;
            height: .4rem;
            background-color: $color-secondary;
            bottom: -1rem;
            left: 0;
            @media only screen and(max-width: $media-query-medium){
                left: 30%;
            }
        }
    }
}
.heading-5 {
    font-size: calc(1.2rem + 1.2vw);
    font-weight: 500;
    color: $color-stroke;
}
.paragraph{
    color: $color-paragraph;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    &--big {
        font-size: calc(1rem + 1.5vw);
        font-weight: 500;
    }
    &--line-height-big {
        line-height: 2;
        text-align: justify;
    }
}